header.top-of-page {
  height: 400px;
  width: 100vw;
  display: flex;
  justify-content: center;
  padding-top: 235px;
  padding-bottom: 255px;
  background-color: #323e8a;
  background-image: url("https://www.transparenttextures.com/patterns/foggy-birds.png");
}

div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

div.photo {
  margin-top: 120px;
}

div.name h2 {
  color: white;
  font-family: "Source Sans Pro", sans-serif;
  margin-top: 8px;
  margin-bottom: 0;
}

 /* Tablet Style */
 @media only screen and (min-width: 768px) {
  header.top-of-page {
    float: left;
    width: 30%;
    margin-top: 150px;
    margin-left: 30px;
    background-color: orange;
    height: 0px;
  }
 }

 /* Desktop style */
 @media only screen and (min-width: 1024px) {
  header.top-of-page {
    float: left;
    width: 30%;
    margin-top: 150px;
    margin-left: 30px;
    background-color: green;
    display: flex;
  }
 }