header {
  height: 400px;
  width: 100vw;
  display: flex;
  justify-content: center;
  padding-top: 235px;
  padding-bottom: 255px;
  background-color: #323e8a;
  background-image: url("https://www.transparenttextures.com/patterns/foggy-birds.png");
}

div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

div.photo {
  padding-top: 175px;
}

div.name h2 {
  color: white;
  font-family: 'Source Sans Pro', sans-serif;
}

