section.new-tweet {
  color: #545149;
  height: 100%;
  width: 100%;
}

div.form {
  border-bottom: 2px;
  color: #545149;
}

textarea {
  background: transparent;
  border-color: #545149;
  border-top: 0;
  border-left: 0;
  border-right: 0; 
  border-bottom: .25rem solid grey;
  width: 100%;
  height: auto;
  font-weight: lighter;
  outline: none;
  resize: none;
  overflow: hidden;
}

div.button-counter{
  padding-top: 2%;
  font-family: "Bungee", cursive;
  display: flex;
  align-content: space-between;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

div button {
  background-color:  #4056a1;
  color: white;
  display: flex;
}

div label {
  font-weight: bold;
}

div.error-tweet {
  border: 5px solid red;
  display: none;
  color: red;
}

div.error-tweet p {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.red-text{
  color:red;
}