article.tweet-container {
  border: 3px solid #545149;
  padding: 20px;
}

header.avatar-name-handle {
  font-family: 'Source Sans Pro', sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

div.pic-name {
  display: flex;
  flex-direction: row;
  align-items: center;
}

div.pic-name p {
  padding-left: 15px;
}

div.user-handle {
  color: #4057a16f;
  font-weight: bolder;
}

article.tweet {
  border-top: 0;
  border-left: 0;
  border-right: 0; 
  border-bottom: .25rem solid grey;
}

footer.date-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

div.icon-flag-retweet-like {
  display: flex;
  flex-direction: row;
  color: #4056a1;
}

div.date{
  font-size: smaller;
}
