article.tweet-container {
  border: 3px solid #545149;
  padding: 20px;
}

article.tweet-container:hover {
  box-shadow: 15px 15px  #4057a16f;
}

header.avatar-name-handle {
  font-family: 'Source Sans Pro', sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
}

div.pic-name {
  display: flex;
  flex-direction: row;
  align-items: center;

}

div.pic-name p {
  padding-left: 15px;
}

div.user-handle {
  color: #4057a16f;
  font-weight: bolder;

}

article.tweet {
  border-top: 0;
  border-left: 0;
  border-right: 0; 
  border-bottom: .25rem solid grey;
}

article.tweet p {
  padding-left: 20px;
  font-weight: bold;
}

footer.date-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
}

div.date{
  font-size: smaller;

}

div.icon-flag-retweet-like {
  display: flex;
  flex-direction: row;
  color: #4056a1;
}

div.icon-flag {
  padding-right: 15px;
}

div.icon-retweet {
  padding-right: 15px;
}

div.icon-flag:hover {
  color:gold;
}

div.icon-retweet:hover {
  color:gold;
}

div.icon-like:hover {
  color:gold;
}

